# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Sistema operativo / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ficheiros temporários
*.tmp
*.log
